nav {
 padding-right: 15px;
 float: right;
 height: 25px;
 margin-top: 8px;
}

a {
 color: black;
 display: inline;
 padding: 5px;
 font-family: arial;
 font-size: small;
}

a:link {
 text-decoration: none;
}

a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

a:active {
 text-decoration: underline;
}

img {
 max-width:100%; 
 max-height:80%;
 margin: inherit;
 position: relative;
 top: 5px;
}

#signin {
 height: 30px;
 width: 73px;
 color: white;
 font-family: arial;
 font-size: small;
 font-weight:bold;
 background: #005CE6;
 background: radial-gradient(#2E8AE6, #005CE6);
 border: #005CE6;
 border-radius: 2px;
}

#logo {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 350px;
}

#form {
 max-width: 600px;
 position: relative;
 margin-top: 25px;
 margin-left: auto;
 margin-right: auto; 
}

input {
  height: 30px;
  width: 585px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  font-family: arial;
  padding-left: 0px;    
}

input:focus {
    border: #005CE6 solid 1px;
    outline: none;
}

#form input{
    background-image: url(Images/microphone.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#buttons {
    width: 300px;
    position: relative;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.search {
 font-family: arial;
 font-size: 11px;
 font-weight: bold;
 line-height: 25px;
 background: #F5F5F5;
 border: lightgray solid 1px; 
 padding: 1px 8px;
 margin-right: 8px;
 border-radius: 2px;
}

* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -41px;
}

footer {
height: 34px;
max-width: 100%;
background-color: #EDEDED;
border: lightgray solid 1px;
padding-top: 5px;
}

p {
 color: #848484;
 display: inline;
 position: relative;
 top: 6px;
 font-family: arial;
 font-size: small;
 margin-left: 25px;
 margin-right: 25px;
}

#right {
    position: relative;
    top: -18px;
    float: right;
}

span {
    color: red;
}













